body {
    font-family: "Montserrat";
    font-size: 1.6rem;
    line-height: 1.5;
    color: rgba(var(--primary-color-rgb), 0.88);
}

h1,
h2,
h3 {
    text-align: center;
}

.add-user-container {
    display: flex;
    justify-content: center;
}

.button {
    display: inline-flex;
    gap: 1em;
    align-items: center;
    appearance: none;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    border-radius: 2em;
    color: #fafafa;
    background: #000;
    cursor: pointer;
    font-weight: normal;
    font-family: inherit;
    padding: 0.5em 1em;
    transition: background 0.16s linear;
    margin: 1em 0;
}

.section-container {
    padding: 0 4rem 0 4rem;
}

.users {
    h3 {
        text-align: left;
    }

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 10px;
    padding-bottom: 2rem;
}

.users__card {
    border-radius: 8px;
    box-shadow: 0px 8px 56px rgba(0, 0, 0, 0.08);
    height: 600px;
}

.users__card.add-user {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.2rem dashed rgba($color: #000000, $alpha: 0.25);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: #212121;
    }

    svg {
        transition: transform 0.3s ease-in-out;
    }

    &:hover svg {
        color: #FAFAFA;
        transform: scale(1.25);
    }
}

.users__image-container {
    position: relative;
    z-index: -1;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 1) 90%);
        z-index: 1;
    }

    img {
        width: 100%;
        height: auto;
    }
}

.users__card-body {
    padding: 1rem;
    z-index: 50;
    margin-top: -30%;

    h3 {
        font-size: 24px;
        font-weight: 700;
    }

    p {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 14px;
        margin: 0;
    }
}

.users__body-content {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
